extends layout

block content
  .jumbotron
    h1 #{title}
    h2 Herzlich Willkomme! Hier gibts alles rund ums Thema Kochen. Zumindest erstmal Rezepte. Für jeden der sich beteiligen möchte.

  p Diese Webseite erfüllt hauptsächlich den Zweck um Webtechnologien wie node.js, Express, Jade etc. auszuprobieren.  
