extends layout

block content
  .jumbotron
    h1 #{title}
    h2 Herzlich Willkomme! Hier gibts alles rund ums Thema Kochen. Zumindest erstmal Rezepte. Für jeden der sich beteiligen möchte. Test on Thursday.

  p Diese Webseite erfüllt mehrere Zwecke. Zum einen zum Ausprobieren von Webtechnologie wie node.js, Express, Jade etc. zum anderen aber auch um interessante Rezepte zu sammeln. 
