extends layout

block content
  h1 #{title}
  
  p Eine einfache Liste bisher eingegebener Rezepte. 
  each row in list.rows
    li
      a(href='/p?id=#{row.doc._id}') #{row.doc.recipetitle}
      img(src=row.doc.img class="img-thumbnail" width="100" height="100")
